
            <div class="container-fluid">
                <style>
                    #auth_user_singleGroup label{
                        width: 30%;
                        margin-left: 4px;
                    }
                </style>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="card">
                                <div class="card-body">
                                    <div>
                                        {{ form_errors(form) }}
                                    </div>
                                    <form action="" method="post" enctype="multipart/form-data">
                                        
                                        {% if app.user is not null and auth_user.username == app.user.username %}
                                        <div class="row">
                                            <div class="col-md-9 pr-1"></div>
                                            <div class="col-md-3 pr-1">
                                                <a href="{{ path('user_pwdreset') }}">Changer le mot de passe</a>
                                            </div>
                                        </div>
                                        {% endif %}
                                        <div class="row">
                                            <div class="col-md-6 pr-1">
                                                <div class="form-group">
                                                     <label for="" class=" requiredField">
                                                         Prenom
                                                     </label>
                                                     <div class="">
                                                         {{ form_widget(form.personne.prenom) }}
                                                         {{ form_widget(form.password) }}
                                                         {{ form_errors(form.personne.prenom) }}
                                                     </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 pl-1">
                                                <div class="form-group">
                                                     <label for="" class=" requiredField">
                                                         Nom
                                                     </label>
                                                     <div class="">
                                                         {{ form_widget(form.personne.nom) }}
                                                         {{ form_errors(form.personne.nom) }}
                                                     </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 pr-1">
                                                <div class="form-group">
                                                     <label for="" class=" requiredField">
                                                         Num&eacute;ro t&eacute;l&eacute;phone
                                                     </label>
                                                     <div class="">
                                                         {{ form_widget(form.personne.tel_1) }}
                                                         {{ form_errors(form.personne.tel_1) }}
                                                     </div>
                                                 </div>
                                            </div>
                                            <div class="col-md-6 pl-1">
                                                <div class="form-group">
                                                     <label for="" class=" requiredField">
                                                        Identifiant (Login)
                                                     </label>
                                                     <div class="">
                                                         {{ form_widget(form.username) }}
                                                         {{ form_errors(form.username) }}
                                                     </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row hidden">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                     <label>Cin</label>
                                                     {{ form_widget(form.personne.cin, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row hidden">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                     <label>Ville Cin</label>
                                                     {{ form_widget(form.personne.ville_cin, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label>Adresse</label>
                                                    {{ form_widget(form.personne.adresse) }}
                                                    {{ form_errors(form.personne.adresse) }}
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="row" {% if auth_user.id %} style="display:none;" {% endif %}>
                                            <div class="col-md-12">
                                                 <div class="form-group">
                                                     <label for="" class=" requiredField">
                                                         Photo
                                                     </label>
                                                    {{ form_widget(form.avatar, {'attr': {'class': 'form-control'}}) }}
                                                 </div>   
                                            </div>
                                        </div>
                                        
                                        
                                        <div class="row hidden">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                     <label></label>
                                                     {{ form_widget(form.singleGroup, {'attr': {'class': 'form-control'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                        
                                        <div class="clearfix"></div>
                                        {{ form_widget(form._token) }}
                                    </form>
                                        {% include "save-button.html.twig" %}
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-user">
                                <div class="card-image">
                                    <img src="/static/img/photo-1431578500526-4d9613015464.jpg?fit=crop&fm=jpg&h=300&q=75&w=400" alt="...">
                                </div>
                                <div class="card-body">
                                    <div class="author">
                                        <h5 id="change-avatar">
                                            {% if auth_user.id and auth_user.avatar is not null %}

                                            <img class="avatar border-gray" src="data:image/png;base64,{{ auth_user.encodedAvatar }}" alt="...">
                                            {% else %}
                                            <img class="avatar border-gray" src="/static/img/default-avatar.png" alt="...">
                                            {% endif %}

                                            <!--<h5 class="title">{{ auth_user.personne }}</h5>-->
                                            <br/>
                                            <button type="submit" class="btn btn-info btn-fill pull-right">Photo</button>
                                        </h5>
                                    </div>
                                    <p class="description text-center">
                                        {% if auth_user.id %}
                                             {{ auth_user.email }}
                                        <br> {{ auth_user.personne.tel1 }}
                                        <br> {{ auth_user.personne.adresse }}
                                        {% endif %}
                                    </p>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>