{% extends 'base-breadcrumb-tabs.html.twig' %}

{% block titre %}Liste des prix{% endblock %}


{% block breadcrumb %}
    {% set breadcrumb = {'root': app_name,
            (path('produit_index')) : 'Produits' , 
            (path('produit_edit', {'id': produit.id})) : produit ,
            'no-link': block('titre')} %}
    {% include "breadcrumb.html.twig" %}
{% endblock %}

{% block class_title_icon %}nc-icon nc-notes{% endblock %}


{% block tabContent %}
    <table class="table table-hover table-striped" id="liste-table">
        <thead>
            <tr>
                        <th>Date ajout</th>
                        <th>Prix</th>
                        <th>Prix d'achat</th>
                    <th data-orderable="false">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for prix in prixes %}
            <tr>
                <td>{{ prix.dateAjout ? prix.dateAjout|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ prix.valeur }}</td>
                <td>{{ prix.prixAchat }}</td>
                <td>
                    <a href="{{ path('prix_edit', {'id': prix.id}) }}"><img src="/static/img/edit-icon.png" style="width:25px;"/></a>
                    {{ include('prix/_delete_form.html.twig') }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block add_button %}
                        <button type="submit" class="btn btn-info btn-fill pull-right add-btn" onclick="location.href='{{ path('prix_new', {'id': produit.id}) }}'">Ajouter un prix</button>
{% endblock %}
