{% extends 'base-breadcrumb.html.twig' %}

{% block title %}Prix{% endblock %}

{% block body %}
    <h1>Prix</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prix.id }}</td>
            </tr>
            <tr>
                <th>Date_ajout</th>
                <td>{{ prix.dateAjout ? prix.dateAjout|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Valeur</th>
                <td>{{ prix.valeur }}</td>
            </tr>
            <tr>
                <th>PrixAchat</th>
                <td>{{ prix.prixAchat }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('prix_index') }}">back to list</a>

    <a href="{{ path('prix_edit', {'id': prix.id}) }}">edit</a>

    {{ include('prix/_delete_form.html.twig') }}
{% endblock %}
