                                    <div class="col-xs-12 ">
                                        <nav>
                                            <div class="nav  nav-tabs nav-fill" id="nav-tab" role="tablist">
                                            {% for key, tab in tabs %}
                                                 {% if tab.link is not defined %}
                                                <a class="nav-item nav-link {% if tab.active_class is defined %}active{% endif %}" id="nav-{{ key }}-tab" data-toggle="tab" href="#nav-{{ key }}" role="tab" aria-controls="nav-{{ key }}" aria-selected="true">{{ key|capitalize }}</a>
                                                {% else %}
                                                <a class="nav-item nav-link {% if tab.active_class is defined %}active{% endif %}" id="nav-{{ key }}-tab" data-toggle="" href="{{ tab.link }}" role="tab" aria-controls="{{ tab.link }}#nav-{{ key }}" aria-selected="false">{{ key|capitalize }}</a>
                                                {% endif %}
                                            {% endfor %}
                                            </div>
                                        </nav>
                                        <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                            {{ activetab }}
                                        </div>
                                    </div>
